.navbar{
    width: 100%;
    height: 10vh;
    background: linear-gradient(104deg, rgba(56,56,56,1) 9%, rgba(52,73,94,1) 67%);
    padding: 2%;
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.drawer{
    background:rgba(52,73,94,1)
}

.title{
    font-family: monospace;
    font-size: 1.5em;
    width: 60%;
}

.MenuBtn{
    width: 50%
}

.MenuBtn:hover{
    background-color: #DD6B20;
}
