html, body, .page {
    background-color: #0000001c;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 2% 10% 0 5%;
}

.products {
    width: 100%;
    padding: 5%;
}

.productCard {
    display: flex;
    flex-direction: column;
    border: 2px solid #DD6B20;
    padding: 1em;
    border-radius: 20px;
}

.productTitle {
    width: 90%;
}

.productRating {
    width: 100%;
}
